<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC 
"-//Hibernate/Hibernate Configuration DTD 3.0//EN" 
	"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<!-- hibernate.cfg.xml for bookPkg -->
<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://localhost:3306/hib_test</property>
		<property name="connection.username">root</property>
		<property name="connection.password">mango%^TANGO47</property>
		
		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>
		<property name="hibernate.hbm2ddl.auto">update</property>
		
		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">true</property>
		
		<!-- Use XML-based mapping metadata -->
		<mapping resource="bookPkg/entity/Book.hbm.xml"/>
		
		<!--  Use Annotation-based mapping metadata -->
		<mapping class="empPkg.entity.Employee"/>
		
	</session-factory>
</hibernate-configuration>